@model HomeViewModels
@if (Model.Forums is not null)
{
    @foreach (var forum in Model.Forums)
    {
        <div class="card text-center m-lg-4 bg-success text-black"
             style="border-radius: 25px; border-color: whitesmoke; border-width: 0px; box-shadow: 0 5px 18px rgba(0,0,0,0.2); ">
            <partial name="_DisplayForums" model="forum">

            <!-- Modal -->
            <div class="modal fade modal-trigger" id="@($"{forum.Title.Trim()}OpenedModal")" tabindex="-1" aria-labelledby="111ModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content bg-success bg-opacity-75">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="111ModalLabel">@forum.Title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body bg-dark text-white">
                            <div class="text-end mb-3">
                                <a asp-controller="Home"
                                   asp-action="EditForum"
                                   asp-route-id="@forum.ForumId"
                                   type="button"
                                   class="btn btn-danger @(Model.User is not null
                                                            && (Model.User.Role == "admin"
                                                            || forum.UserId == Model.User.Id)
                                                            ? "" : "visually-hidden")"> Edit</a>
                                <a asp-controller="Home"
                                   asp-action="DeleteForum"
                                   asp-route-id="@forum.ForumId"
                                   type="button"
                                   class="btn btn-danger @(Model.User is not null
                                                            && (Model.User.Role == "admin"
                                                            || forum.UserId == Model.User.Id)
                                                            ? "" : "visually-hidden")">Delete</a>
                            </div>
                            <div class="img-fluid mb-3">
                                <img src="https://images.unsplash.com/photo-1612512836264-5e58fab88bf0?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style="width: 100%; height: 100%; object-fit: cover;">
                            </div>
                            <div class="container-fluid text-center justify-content-center">
                                @forum.Body
                            </div>
                        </div>
                    </div>
                </div>

                @if (forum.Comments is not null)
                {
                    foreach(var comment in forum.Comments)
                    {
                        <partial name="_DisplayComments" model="comment" />
                    }

                }
                <partial name="_PostCommentArea" model="forum" />
            </div>
        </div>
    }
}